body {
	font-family: monospace;
	font-size: 16px;
	line-height: 1.5;

	background-color: black;
	color: #ffffff;
}

header {
  position: fixed;
  top: 20px;
  left: 20px;
}

header img {
	width: 80%;
}



footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px 0 0;
  transition: all 0.5s;
}

a:hover {
  color: yellow;
}

section {
  height: 100vh;

  background-image: url('../images/sally_1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.sally_2 {
  background-image: url('../images/sally_2.jpg');
}

.sally_3 {
  background-image: url('../images/sally_3.jpg');
}

.sally_4 {
  background-image: url('../images/sally_4.jpg');
}

.sally_5 {
  background-image: url('../images/sally_5.jpg');
}

.sally_6 {
  background-image: url('../images/sally_6.jpg');
}

.sally_7 {
  background-image: url('../images/sally_7.jpg');
}

.sally_8 {
  background-image: url('../images/sally_8.jpg');
}
